<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 ">
    <div class="block">
          <div class="container">
              <h3>Edit Profile</h3>

                   <%= form_for @user do |f| %>
                      <div class="form-group">
                      <%= f.label :name, "Name" %>
                      <%= f.text_field :name, class: "form-control user-edit" %>
                      </div>

                      <div class="form-group">
                       <%= f.label :intro, "Introduction" %>
                       <%= f.text_field :intro, class: "form-control user-edit" %>
                       </div>

                       <div class="form-group">
                         <%= f.label :avatar, "Upload Picture" %><br />
                         <%= image_tag @user.avatar if @user.avatar? %>
                         <%= f.file_field :avatar %>
                       </div>

                      <div class="form-group">
                          <%= f.submit "update"%>
                          <%= button_tag "Cancel", :type => 'reset' %>   <!--使用button_tag-->
                      </div>
                  <% end %>
          </div>
    </div>
</div>
