<h1>Latest update for restaurants</h1>

<div>
  <h3>Recent added restaurants</h3>
   <% @recent_restaurants.each do |restaurant| %>
   <%= link_to restaurant.name , restaurant_path(restaurant)%>
   <%= restaurant.category.name%>
   <%= restaurant.description%>
   <%end%>
</div>

<div>
  <h3>Recent added comments for restaurants</h3>
  <% @recent_comments.each do |comment| %>
  <h4><%= link_to comment.restaurant.name, restaurant_path(comment.restaurant)%></h4>
  <p><%= comment.content%> </p>
  <p>by <%= link_to comment.user.name, user_path(comment.user)%></p>
  <hr>
  <%end%>
</div>
