<div class="container">
  <h1>List of Restaurnat Categories</h1>
    <div>
     <%= link_to 'Restaurant', admin_restaurants_path, :style=>'color: #000000'%> |
     <%= link_to 'Categories', admin_categories_path, :style=>'color: #000000' %>
    </div>
    <br>
<!-- [:admin, @category] :admin 是 namespace 的路徑。 -->
<!--在 index 頁面上新增一個表單,可以輸入Category Name，點選Create Categroy按鈕後會產生新的Category -->
    <div class="form-inline">
      <%= form_for [:admin,@category] do |f| %>
       <div class="form-group">
         <%=f.text_field :name, placeholder:"Category Name", class:"form-control"%>
       </div>
         <%=f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-bordered">
          <thread> <%#thread標籤為表格頭部%>
            <tr><%#table row%>
              <th>#</th> <%#table head%>
              <th>Category Name</th>
            </tr>
          </thread>

          <tbody> <%#tbody標籤為表格主體內容%>
             <% @categories.each do |category| %>
             <tr>
               <th scope="row"><%= category.id %></th>
               <td><%= category.name%></td>
             </tr>
             <% end %>
          </tbody>

        </table>
    </div>
  </div>


</div>
